In [2]:
import pandas as pd 
import csv
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from tqdm import tqdm

In [3]:
data = pd.read_csv('D:\ML_data_sql\info.csv',header=None,names=['id','name','year','rating','genre','director','actor','other actor','area'])
data = data[['id','genre']]
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19396 entries, 0 to 19395
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      19396 non-null  int64
 1   genre   19396 non-null  object
dtypes: int64(1), object(1)
memory usage: 303.2+ KB

In [4]:
import re
genre = set()
deals = data['genre']
for val in deals:
    str = val
    str2 = str.split('/')
    for val2 in str2:
        genre.add(val2)
genre.remove('')
#generate categroy
categroy = [[]for i in range(len(genre))]
i=0
for val in genre:
    categroy[i] = val
    i+=1

In [5]:
categroy = [[]for i in range(len(genre))]
i=0
for val in genre:
    categroy[i] = val
    i+=1

In [6]:
score =[[] for i in range(len(genre))]
print(len(score))
i=0
for val in categroy:
    for deal in deals:
        cls = deal.split('/')
        cls.remove('')
        if val in cls:
            score[i].append(1)
        else:
            score[i].append(0)
    i+=1
#一列
print(len(score[0]))    
# s = np.sum(score[-1])
# if s==0:
#     print('adf')
from pandas.core.frame import DataFrame

36
19396

In [7]:
save_data = data['id']
print(len(save_data))
pscore = DataFrame(score)
# pscore.T.head()
save_data = pd.concat([save_data,pscore.T],axis=1,ignore_index=True)
if save_data.shape[1]!= len(categroy):
    categroy.insert(0,'id')
# print(categroy)
save_data.columns = categroy
# save_data[2:] = save_data[2:].astype(int)
save_data.head(-1)
# save_data.info()

19396

,id,悬念,音乐,西部,儿童,惊栗,战争,惊悚,运动,恐怖,...,武侠,灾难,传记,动作,歌舞,奇幻,剧情,同性,家庭,爱情
0,26752088,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,26425063,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
2,26925317,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
3,26985127,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,27102569,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19390,26422495,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
19391,26703136,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
19392,25782681,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
19393,25727745,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19394,24893693,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [13]:
import os 
import cv2
img_read = save_data['id']
count=0
del_list =[]
for i,val in enumerate(img_read):
    image = cv2.imread(f"D:\\ML_data_sql\\poster_img\\{val}.jpg")
    if image is None:
        #os.remove('D:\\ML_data_sql\\poster_img\\{val}.jpg')
        print(val)
        del_list.append(i)
        count+=1
print(count)

1309163
1309136
1309203
1309211
1309135
1309121
1302413
1309194
1309201
1309120
1309156
26782656
1309179
1309112
1309196
1309193
1302415
30379532
1309170
1309177
26631790
1309103
1309088
1309137
1309150
1309161
1309195
1302397
26635029
1309168
30345298
26582786
20411171
26340323
30338524
1309094
30371791
25816159
26680423
26348314
3712239
3297443
3297365
3297290
30334919
3294679
3294779
24748745
26951543
26348307
27109551
26348318
27597255
30333882
30156239
3288897
3293743
3313322
3643300
4045997
3288106
3313284
3293655
3297605
3313347
3643335
26682799
3642580
3292219
3287816
1951186
3313399
3289700
3293861
30207065
3292259
1302401
1302393
1302362
2363917
26633684
1309185
25956456
1309151
1889694
25963383
25967446
25963384
4217488
1302426
3260389
20378829
26821768
26631304
26285153
25961768
26614079
30185530
5941748
27185405
25750914
26324168
26887012
25995192
19973409
25804467
5187786
26902211
26350142
4901652
110

In [17]:
save  = save_data.drop(index=del_list,axis=0)
save.reset_index().drop('index',axis=1)
save.head()

,id,悬念,音乐,西部,儿童,惊栗,战争,惊悚,运动,恐怖,...,武侠,灾难,传记,动作,歌舞,奇幻,剧情,同性,家庭,爱情
0,26752088,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,26425063,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
2,26925317,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
3,26985127,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,27102569,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1

In [11]:
# image = cv2.imread(f"D:\\ML_data_sql\\poster_img\\1309163.jpg")
# print(image)

None

In [9]:
save.to_csv('D:\ML_data_sql\\info_label_clean.csv')